@font-face {
    font-family: DELIRIUM NCV;
    src: url(DELIRIUM\ NCV.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: DELIRIUM NCV;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    width: 100%;
    min-height: 100vh;
    background: radial-gradient(#c8e0d8 2%,#86b2a3,#86b2a3);
    position: relative;
    overflow: hidden;
}
#nav{
    position: relative;
    height: 14vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 0 4vw;
}
#nav #center{
    font-weight: 100;
    display: flex;
    align-items: center;
    gap: 1vw;
    font-size: 3vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#nav #center .line{
    height: 2px;
    width: 7vw;
    background-color: white;
}
#maintext{
    position: absolute;
    top:30%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#maintext .row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.row h4{
    font-size: 1.7vw;
    font-weight: 100;
    color: white;
}
#maintext>h1{
    font-size: 12vw;
    font-weight: 100;
    color: white;
    line-height: 10vw;
}
.row h4:nth-child(2){
    color: #36554b;
}
#main #one{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#main #two{
    width: 30vw;
    position: absolute;
    top: 50%;
    left: -15%;
    transform: translate(0,-50%);
}
#main #three{
    width: 25vw;
    position: absolute;
    top: 50%;
    right: -12%;
    transform: translate(0,-50%);
}
#bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 5%;
    height: 200px;
    width: 50%;
    left: 50%;
    transform: translate(-50%,0);
}
#bottom img{
    width: 50%;
    margin-top: 5px;
}
#bottom p{
    width: 65%;
    font-size: 13px;
    font-weight: 500;
    margin: 20px 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
}
#bottom button{
    padding: .8vw 1.8vw;
    background-color: #c9f0e3;
    color: #36554b;
    border-radius: 100px;
    letter-spacing: 5px;
    font-weight: 600;
    font-size: 13px;
    border: none;
    outline: none;
    text-transform: uppercase;
}
@media (max-width:500px){
    #nav{
        height:10vh;

    }
    #nav #center h3{
        font-size: 7vw;
        white-space: nowrap;
        font-weight: 100;
    }
    #maintext h1{
        font-size: 30vw;
        line-height: 28vw;
        white-space: nowrap;
        
    }
    #maintext .row h4{
        font-size: 7vw;
    }
    #main #one{
        width: 125vw;
    }
    #main #two{
        top: 35%;
    }
    #main #three{
        top: 35%;
        right: -10%;
    }
    #main #bottom{
        width: 80%;
    }
    #bottom img{
        width: 100%;
    }
    #bottom p{
        width: 100%;
        text-align: center;
    }
    #bottom button{
        padding: 2.8vw 4.8vw;
        font-weight: 800;
    }
}